<h2>Create new User</h2>


<form action="/user" method="post" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="fnusernameame">Username:</label><br>
  <input type="text" id="fname" name="user[username]"><br>
  <label for="email">Email ID:</label><br>
  <input type="text" id="email" name="user[email]"><br>
  <label for="email">Password:</label><br>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form> 
